li{
    margin-top: 10px;
    margin-left: 10px;

}

.list-group-item{
background-color: rgb(96,96,96);
color: white;
margin-bottom: 10px;
}

.nav-link {
background-color: rgb(80,80,80);
margin-bottom: 10px;
padding: 2px 9px;
color: white;
}

.course-header {
background-color: rgb(64,64,64);
padding: 10px;
}

.wbdv-lesson-add-btn {
padding: .0px;
color: white;
}

.wbdv-topic-add-btn {
padding: .0px;
color: white;
}

.wbdv-bottom-right-10px {
position: fixed;
bottom:10px;
right: 10px;
}


