 /*h2 {color:green}

    h2#lessons {color:yellow; background-color:red}
    .background-green {
      background-color: green;
      color:yellow;
    }*/


li{
    margin-top: 10px;
    margin-left: 10px;

}

.list-group-item{
background-color: rgb(96,96,96);
color: white;
margin-bottom: 10px;
}

.nav-link {
background-color: rgb(80,80,80);
margin-bottom: 10px;
padding: 2px 9px;
color: white;
}

.course-header {
background-color: rgb(64,64,64);
padding: 10px;
}


