body{
padding-top: 65px;
}

td {
color: gray;
}

th {
color: rgb(80,80,80);}

.table-light {
background-color:white
}

.btn-danger {
padding: 1px 7px;
border-radius: 60px;
}

.wbdv-bottom-right-10px {
position: fixed;
bottom:10px;
right: 10px;
}

.navbar-brand {
color: white;}





